* {
    padding: 0px;
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
}

.nav img {
    width: 30px;
    height: 25px;
}

.nav-inner {
    display: flex;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 2.75rem;
}

nav li a {
    text-decoration: none;
    color: #424247;
}

.banner {
    margin-top: 3rem;
    background-image: linear-gradient(rgba(49, 47, 47, 0.527), rgba(45, 45, 45, 0.5)), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 1260px;
    height: 600px;
    background-repeat: no-repeat;
    /* border: 3px solid black; */
    background-size: cover;
    background-position: center;
    border-radius: 20px;

}

.banner {
    text-align: center;
    color: #FFFFFF;
}

.banner-heading {
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    padding: 106px 285px 0px 285px;
}

.banner-content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 24px 220px 25px 220px;
}

.banner-input {
    width: 15%;
    padding: 10px;
    margin-top: 20px;
    margin-right: 25px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;

}

.banner-form {
    padding: 5px 20px 20px 20px;
    margin-top: 10px;
    background-color: rgba(155, 149, 146, 0.5);
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 10px;
}

.section1 {
    padding-top: 100px;
    display: flex;
}

.title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 540px;
    padding-left: 50px;
}

.content-li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 50px;
    margin: 20px;
    width: 440px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    padding: 10px;
    border: none;
    margin-top: 30px;
    margin-left: 50px;
}

.sec-1-img {
    width: 540px;
    height: 250px;
    padding-left: 50px;
}

.content-li li {
    margin-bottom: 20px;
}

.section2 {
    margin-top: 200px;
}

.content2 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* width: 540px; */
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.row {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.image-container {
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}

.image-container img {
    width: 100%;
    height: 300px;
}

.image-container:hover {
    transform: scale(1.1);
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.section3, .section4 {
    margin-top: 50px;
}

.choose {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.choose1,
.choose2,
.choose3 {
    flex: 1;
    padding: 20px;
    border-radius: 16px;
}

.choose1 {
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(147, 104, 55, 0.05);
}

.choose2 {
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(7, 47, 57, 0.05);
}

.choose3 {
    width: 473px;
    margin-top: 0px;
    margin-left: 350px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(154, 59, 166, 0.05);

}

.choose-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}

.choose-contect {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.dcontent {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 40px;
}

.packages {
    width: 1260px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
}

#bg-1 {
    background-image: url('../Images/Group\ 39.png');

}

#bg-2 {
    background-image: url('../Images/Group\ 40.png');
}

#bg-3 {
    background-image: url('../Images/Group\ 39.png');
}

.transparent-container {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    margin-right: 40px;
    border-radius: 20px;
}

.transparent-container p {
    color: #333;
    font-size: 16px;
    margin: 10px;
}

.transparent-container2 {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 400px;
    padding: 40px;
    position: absolute;
    margin-bottom: 500px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin-left: 40px;
    border-radius: 20px;
}

.section5 {
    display: flex;
}

.newsletter-section {
    margin-top: 100px;
    width: 600px;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    border: 1px solid #FF5400;
    /* text-align: center; */
}

.newsletter-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-left: 60px;
}

.newsletter-content {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    margin-left: 60px;
}

hr {
    color: #555;
}

.input-group {
    margin-top: 20px;
}

.newletter-input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.newletter-input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.newletter-input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FF5400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-image {
    margin-top: 100px;
    flex-grow: 1;
    position: relative;
    margin-left: 20px;
}

.discount-button {
    position: absolute;
    bottom: 60px;
    right: 20px;
    background-color: #FF5400;
    color: #fff;
    font-size: 20px;
    padding: 30px;
    transform: rotate(-35deg);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.titleDJ {
    margin-top: 100px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 30px;
}

.contentDJ {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.image-container {
    display: flex;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 350px;
    margin: 10px;
}

.image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.image-text {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    color: #fefefe;
    font-size: 16px;
    font-weight: bold;
}

.image-wrapper:hover .image {
    transform: translateX(-10%);
}

.btn-primary:hover {
    background-color: #ddb5a1;
}

.footer-container {
    margin-top: 100px;
    background-color: rgba(19, 19, 24, 0.05);
    /* width: 1440px; */
    height: 502px;
}


.footer-title {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800;
    padding-top: 100px;
    text-align: center;
}

.footer-content {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 20px;
    margin-bottom: 20px;
}

.social {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.social img {
    margin-top: 20px;
    width: 50px;
}
.social img:hover {
    transform: scale(1.1);
}
.footer-cr {
    text-align: center;
    color: #131318;
}
hr{
    margin: 50px;
}
@media screen and (max-width:600px) {
    .nav {
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
    }

    .nav-inner {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 15px;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* .banner {
        margin-top: 3rem;
        background-image: linear-gradient(rgba(49, 47, 47, 0.527), rgba(45, 45, 45, 0.5)), url("../Images/Group 13 (1) (1).png");
        width: 100%;
        max-width: 1260px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
    } */

    .banner-heading {
        font-size: 32px;
        padding: 50px 20px 0 20px;
    }

    .banner-content {
        font-size: 14px;
        padding: 10px 20px 20px 20px;
    }

    input {
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }



    .section1 {
        flex-direction: column;
    }

    .title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .content,
    .content-li {
        font-size: 14px;
        width: 100%;
        padding-left: 20px;
    }

    .btn-primary {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 300px;
    }

    .sec-1-img {
        width: 100%;
        height: auto;
        padding-left: 20px;
    }

    .content-li li {
        margin-bottom: 10px;
    }

    .section2 {
        margin-top: 50px;
    }

    .content2 {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
    }

    .row {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .image-text {
        font-size: 20px;
    }

    .choose {
        flex-direction: column;
    }

    .choose3 {
        margin-left: 50px;
        width: 340px;
    }

    .packages {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        position: relative;
    }



    .transparent-container,
    .transparent-container2 {
        max-width: 100%;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
    }

    .section5 {
        flex-direction: column;
    }

    .newsletter-section {
        width: 100%;
    }

    .newsletter-heading {
        font-size: 24px;
        margin-left: 10px;
    }

    .newsletter-content {
        font-size: 16px;
        margin-left: 10px;
    }

    .input-group {
        margin-top: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="submit"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .newsletter-image {
        margin-top: 20px;
        margin-left: 10px;
    }

    .discount-button {
        bottom: 10px;
        right: 10px;
        padding: 15px;
    }

    .titleDJ {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contentDJ {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .image-container {
        flex-direction: column;
    }

    .image-wrapper {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .image-text {
        font-size: 14px;
    }
    .footer-container {
        height: auto;
    }

    .footer-title {
        padding-top: 50px;
        font-size: 24px;
    }

    .social img {
        width: 40px;
    }

    .social img:hover {
        width: 50px;
    }

}